/feedback/**
!/feedback/**/*.md
/prd_dissertation.pgf
/bib/library.bib
/.venv/
*.tar.gz
*.tsv
*.mtx
*.h5ad
*.gui

# TeX stuff
*.aux
*.bbl
*.blg
*.log
*.pdf
!/publications/*.pdf
*.tuc
*.synctex

# Temp stuff
.ipynb_checkpoints/
.snakemake/

# When mounting as ~
/.ipython/
/.jupyter/
/.cache/
